* {
    box-sizing: border-box;
}

body {
    
}

/* MEDIA QUERIES */
/* We do not need to specify media queries for 320px mobile width */
header {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}
input {
    /* border: 1px solid turquoise; */
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    padding-left: 5px;
    height: 50px;
    width: 100%;
    font-size: 18px;
}
input::placeholder {
    font-size: 17px;
}
header li {
    list-style: none;
}
.main-gallery-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, 430px);
    grid-gap: 5px;
}
.gallery-image {
    margin: auto;
}
.gallery-image img {
    
}
.gallery-image p {
    display: none;
}



/* @media screen and (min-width: 768px) { */
    body {
        
    }

    .main-gallery-area {
        /* grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px; */
    }
    .gallery-image {
        /* margin: 0 auto; */
    }
/* } */
